body, fieldset, form {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
label {
  display: flex;
  flex-direction: row;
  justify-content: top;
  align-items: center;
}
section {
  width: 60%;
}
fieldset {  
  width: 100%;
}
header {
  text-align: center;
}